[2018-09-18 09:21] geovie opened #1 "Use node-pre-gyp"
We should use node-pre-gyp to provide pre build native modules

[2018-09-27 08:26] paulvarache opened #2 "CBManagerState for macOS pre 10.13"
The symbol `CBManagerState` was named `CBCentralManagerState` pre 10.13. To get it to compile on 10.12 and less, the symbol must be renamed.

Is there a way to have that added in the sources with macros?

I am unaware of everything Objective C related so please excuse my obvious ignorance

[2018-09-27 08:30] geovie commented on #2
Hi, I actually added a macro guard around the functions which take `CBManagerState`/`CBCentralManagerState ` https://github.com/Timeular/noble-mac/blob/560945db453798d1e641a8f64dffed7bf007944a/src/objc_cpp.h#L11-L18

Maybe I got the #if wrong 🤔 What is the error you're facing? Which macOS version/xcode version are you using?

[2018-09-27 08:39] paulvarache commented on #2
I am using macOS 10.11.6 with XCode 7.2. I'm avoiding updates with my hardware to make sure I can still test older versions of macOS

[2018-09-27 08:43] geovie commented on #2
Ok, thanks. I will set up travis today in #1, then the build can be tested with the following macOS/xcode versions: https://docs.travis-ci.com/user/reference/osx/#os-x-version

[2018-09-27 08:44] paulvarache commented on #2
Perfect thanks. If you need any help to progress, or test with real hardware, I am available to do so

[2018-09-27 13:18] geovie commented on #2
@paulvarache Could you try #3? I tested it on OS X 10.11 with xcode 7.3

[2018-09-27 13:24] paulvarache commented on #2
No more error on `CBManagerState`, still can't build but I think it's due to my outdated version of XCode. It errors on `future`s

[2018-09-27 13:37] geovie commented on #2
Yes unfortunately we need some 'newer' c++ features. I'm working on setting up node-pre-gyp for this repository. I guess it should work if you can download the pre-build native module.

I'll close this. I can ping you if you're interested in testing it with once node-pre-gyp is setup!?

[2018-09-27 13:37] #2 closed, assigned to nobody

[2018-09-27 13:48] paulvarache commented on #2
Ping whenever this need to be tested

[2018-09-27 13:50] paulvarache commented on #1
I support this. Can we use travis' matrix build feature to prebuild for the `electron` runtime as well?
[code]

I have this minimal travis config and it does build for both runtime. See: https://github.com/paulvarache/noble-mac/releases/tag/0.0.1

[2018-09-27 13:55] geovie commented on #1
Great! I'll add them 👍

[2018-09-28 09:45] geovie commented on #1
@paulvarache this took longer than expected 😊. node-pre-gyp should be set up for node and electron. Could you test it?

[2018-09-28 10:11] paulvarache commented on #1
Will test on 10.10, 10.11, 10.12 and 10.13 both node and electron and let you know

[2018-09-28 13:33] paulvarache commented on #1
Tested on 10.10, 10.11 and 10.13, I don't have a 10.12 available at the moment.

Ran the `test_bindings.js` script and all discovered devices. Ran a more intensive task on 10.10 and went through.

![screen shot 2018-09-28 at 11 15 08](https://user-images.githubusercontent.com/5550089/46211365-485f1100-c32b-11e8-98c3-78e579a7fbb8.png)

[2018-10-01 20:31] #1 closed, assigned to nobody

[2018-10-12 07:50] SamDecrock opened #6 "Symbol not found: _napi_create_error"
Hi, when using noble-mac as a drop-in replacement for noble, I get the following error:

[code]

[2018-10-12 08:14] geovie commented on #6
Which node version are you using? You need to add the --napi-modules argument (`node --napi-modules <your script>`)

[2018-10-12 09:46] SamDecrock commented on #6
I was using node v6.9.1, and the --napi-modules argument didn't work.
So I upgraded to the latest version (v8.12.0), now it works without the --napi-modules

Thanks

[2018-10-12 09:46] #6 closed, assigned to nobody

[2018-10-29 19:45] jaret32 opened #7 "Not Discovering all Peripherals"
I have an Adafruit Feather 32u4 Bluefruit LE board that I am trying to connect to.  Before upgrading to MacOS Mojave and using the original noble branch, the peripheral could be discovered.  After upgrading, noble was unable to discover any peripherals.  Since then I have tried using this repository instead, and it does detect some peripherals, but not the board I am trying to connect to.  I am no

[2018-10-30 04:07] s524797336 commented on #7
Try it and see if it works.
[code]

[2018-10-30 19:20] jaret32 commented on #7
Yes, it worked.  Thank you!  Can I ask what exactly that does to make it work?

[2018-10-31 03:22] s524797336 commented on #7
It actually scans out all the hardware, but when it outputs to node, the thread is blocked, so your hardware is randomly output by chance, since there is so much hardware, the chance is very low.
I don't known about C so i just remove all the nameless hardware in the C code to reduce output.
I will upgrade this package to improve thread block issue by NOT remove nameless hardware in the future.
Or

[2018-11-01 11:23] StephaneJuban commented on #7
For it to work I installed it with `npm install @s524797336/noble-mac`  otherwise I was getting error during the `node install.js`

After that, with `var noble = require('@s524797336/noble-mac');` it worked and I am now able to see peripherals.

[2018-11-01 11:48] geovie commented on #7
@s524797336 Thanks for investigating this issue!
Unfortunately I can't reproduce the issue (not that many ble devices around...)
How many devices do you get in a single scan?

Could you check if all devices are delivered to the callback by logging the `uuid` of the devices (`printf("%s\n", uuid.c_str());`) in the `Emit::Scan` method (this line https://github.com/Timeular/noble-mac/blob/master/src/

[2018-11-01 16:17] akinyema commented on #7
Hi,
 using that i get Segmentation fault: 11 error at random. Sometimes it works and sometimes it doesn't, Is there a way to stop this?

[2018-11-01 21:24] quinnabrvau opened #9 "max notification length"
I'm missing information from notifications. for some reason, it seems to max out at 101 bytes even when the MTU size is set higher and I send a larger amount of data
before I upgraded to Mojave and switched to noble-mac this same code worked

[2018-11-02 05:15] s524797336 commented on #7
@geovie
I don't known how to run C code, even you don't have many devices, you can start a thread to simulation a lot of callback and see if some of them are not emit or delay a lot of time to emit.
I'm not sure this issue is problem, but reduce emit dose output what i want.

[2018-11-05 18:36] ChrisScheffler opened #10 "Filtering by serviceUuids does not work correctly"
After switching to noble-mac (due to Mojave) startScanning() does not filter peripherals by given serviceUuids on macOs.
[code]
returns any BLE peripheral in range (even those which do not provide that given serviceUUID).
The following peripheral should not be 'discovered'.
[code]

On Linux filtering by serviceUuids works as expected.

[2018-11-06 10:03] geovie commented on #9
Could you try if it works with this [noble version](https://github.com/drandreas/noble)

[2018-11-06 10:08] geovie commented on #7
I tested it and the simulation works for me (the library we are use has a [testcase](https://github.com/mika-fischer/napi-thread-safe-callback/blob/master/test/tests.cpp#L150) for this problem).
If your peripherals are advertising their service uuids you could filter by that.
Which node version are you using?

[2018-11-06 15:37] quinnabrvau commented on #9
regular noble works with that version but I still encounter the same problem

[2018-11-06 16:22] geovie commented on #9
Then this is probably a change in Mojave. You can check if  the data is correct in the native part:https://github.com/Timeular/noble-mac/blob/7e286d8bd2b62205f60319fce77bbe216695f19e/src/ble_manager.mm#L228-L230

[2018-11-07 09:32] s524797336 commented on #7
@geovie
node 10.10.0

[2018-11-07 12:41] tzvetelin-vassilev opened #11 "app crashes constantly when stateChange is attached after require"
I have electron environment. App not starting successfully very often. I have isolated the following code:

[code]

[invalid-access.txt](https://github.com/Timeular/noble-mac/files/2557387/invalid-access.txt)

[2018-11-07 16:34] geovie commented on #11
I can't reproduce it with this snippet, which electron version are you using. Can you provide a small electron sample? Also which MacOS version are you using?

[2018-11-08 08:57] geovie commented on #10
Thanks for reporting! This issue is fixed in #12

[2018-11-08 09:37] geovie commented on #7
@s524797336 Could you check out branch [test/not-discovered](https://github.com/Timeular/noble-mac/tree/test/not-discovered), run the following two commands `yarn build` and `yarn repro` and then post the output here.

[2018-11-08 09:38] #10 closed, assigned to nobody

[2018-11-08 12:19] tzvetelin-vassilev commented on #11
Electron is v3.0.8, node is v11.0.0, MacOS is Mojave 10.14. xpc-connection is sandeepmistry fix for node higher then 10.

  "dependencies": {
    "xpc-connection": "https://github.com/sandeepmistry/node-xpc-connection#pull/26/head",
    "noble-mac": "git+https://github.com/Timeular/noble-mac.git",
  }

With very simple app it happens very rarely. In fact I reproduced it only once out of real app c

[2018-11-08 12:45] geovie commented on #11
@tzvetelin-vassilev Please use this [branch](https://github.com/Timeular/noble-mac/compare/test/app-crash), it builds in debug mode this way the back-trace will be more useful.
e.g:
[code]

[2018-11-08 15:29] tzvetelin-vassilev commented on #11
[invalid-access2.txt](https://github.com/Timeular/noble-mac/files/2562361/invalid-access2.txt)

[2018-11-09 01:09] s524797336 commented on #7
@geovie
I'm in hospital, i'll do that when i got the chance.

[2018-11-09 08:12] watsonix opened #13 "Still can't get it to run on 10.14"
I've attempted to use this solution with https://github.com/chbrown/BluetoothLE-HeartRate
however after I change my dependencies to:

`  "dependencies": {
    "noble-mac": "Timeular/noble-mac"
  }`

and my top line of `index.js` to: `const noble = require('noble-mac')`

I still can't get it to run:

[code]

I've tried installing and re-installing node a million times, installing globally and all m

[2018-11-09 08:15] geovie commented on #13
@watsonix Do you get any error during `npm install`/`yarn install`? Which node version are you using? Can you post your project somewhere?

[2018-11-09 08:52] geovie commented on #11
@tzvetelin-vassilev 🤔 that didn't work.. Are you sure that you used the right branch? Can you debug your app with `lldb`?

[2018-11-09 10:53] watsonix commented on #13
@geovie thanks for asking. I've forked the project and put my changes up here:
https://github.com/watsonix/BluetoothLE-HeartRate

Here's the diff:
[code]

Here's what I see when I try to install ([...] is my deletion/annotation):
[code]

[2018-11-09 11:45] geovie commented on #13
@watsonix You shouldn't have to use `sudo` with `npm install`!
I tested your project and it works fine for me. This appears to be an issue with your settings (`EACCES: permission denied`) which is unrelated to noble-mac.

[2018-11-09 11:45] #13 closed, assigned to nobody

[2018-11-09 11:52] tzvetelin-vassilev commented on #11
I don't know how, but if you give me some instructions what to do?

Currently, I'm using this branch, rebuild electron app in debug mode. Electron crash reporter informs about the crash. In console I cannot see exception or something else reported.

[2018-11-09 12:45] geovie commented on #11
Open a terminal and type `lldb <your app with args>` (e.g. `lldb electron main.js`) and then type `run` and return key to start it. After the crash you can type `bt` to get a back trace...

[2018-11-09 14:29] tzvetelin-vassilev commented on #11
lldb electron main.js
(lldb) target create "electron"
error: '/usr/local/bin/electron' doesn't contain any 'host' platform architectures: x86_64h, x86_64, i386, x86_64
some help here?

[2018-11-09 14:47] geovie commented on #11
Try it with `./node_modules/.bin/electron` in your project root

[2018-11-09 15:00] tzvetelin-vassilev commented on #11
the same error
can you put some logs to the console in this branch to allocate where problem appears?

[2018-11-09 17:51] tzvetelin-vassilev commented on #11
[invalid-access3.txt](https://github.com/Timeular/noble-mac/files/2566960/invalid-access3.txt)

[2018-11-10 02:29] watsonix commented on #13
Hmmm, am I doing this correctly?
[code]

[2018-11-11 22:18] watsonix commented on #13
I reinstalled Node with https://github.com/brock/node-reinstall/ and now my fork is working fine and I'm getting data

[2018-11-12 09:15] geovie commented on #11
@tzvetelin-vassilev Thanks for the stack trace, I think I've found the problem.
Could you try the latest commit of the [test branch](https://github.com/Timeular/noble-mac/tree/test/app-crash)? This should fix the crash.

[2018-11-12 09:21] geovie commented on #9
@quinnabrvau Any progress here? Have you checked if this is a Mojave problem?

[2018-11-12 09:26] geovie commented on #7
Another thing to try is to set `allowDuplicates` to true
[code]
Could someone try that and report back? Thanks!

[2018-11-12 09:43] tzvetelin-vassilev commented on #11
I'm not sure how exactly to refer it. git+https://github.com/Timeular/noble-mac#test or probably something else?

[2018-11-12 09:53] geovie commented on #11
@tzvetelin-vassilev Try the commit hash: `git+https://github.com/Timeular/noble-mac#38ac14b65cef7d8753724415db0543440efff93e`

[2018-11-12 10:11] tzvetelin-vassilev commented on #11
yes, it is fixed, there is no crash any more

[2018-11-12 10:15] geovie commented on #11
Thanks for testing!

[2018-11-12 10:26] #11 closed, assigned to nobody

[2018-12-05 17:51] ReinierH commented on #7
@geovie
That doesn't fix it

[2018-12-05 17:59] geovie commented on #7
@ReinierH Can you try the [test/not-discovered](https://github.com/Timeular/noble-mac/tree/test/not-discovered) branch and post the results here?

[2018-12-10 15:48] vikeri opened #15 "Can't get address by connecting and disconnecting to device"
## Expected behavior:
When finding a new device (that will lack the address) I can connect and then disconnect. Then the device will show up in the scan and it will contain the address.

## Actual behavior:
Doesn't matter if I disconnect the device still has no address when found again. Has to restart the whole script in order for it to find the address.

## Long version:
I have a script that find

[2018-12-10 19:02] geovie commented on #15
Hi, I think this is a problem with noble, as you can see [here](https://github.com/noble/noble/blob/master/lib/noble.js#L149) the address is only updated if the peripheral is not yet discovered.
You say that it worked before:

Which noble/noble-mac version where you using?

[2018-12-11 15:11] gpgabriel opened #16 "'advertisement' property is being released"
Hi, I get some strange behaviour and I'm trying to find the root issue.

I created a script to reproduce this bug:
https://gist.github.com/gpgabriel/2007be8f27ea79189b19a5e35ed0ad1a

The bug only happens on macOS 10.14.1, I tried it with node 8.14.0.

[code]

[code]

[code]

The problem is that the `advertisement` property from the peripheral object is reseted to default values. It's still there b

[2018-12-11 15:22] gpgabriel commented on #16
The results are never consistent, sometimes the advertisement object stays untouched and sometimes is being reseted.

[2018-12-11 15:39] geovie commented on #16
Hi, we're currently not handling the advertisement correctly. As you can see [here](
https://github.com/noble/noble/blob/c4cd18a7a429bb832f6c4ca793be3faf9af884e9/lib/noble.js#L160-L165) noble expects advertisement properties to be `undefined` for them to not be updated, which does not fit well with the cpp model (although maybe std::optional could be used...).
The first thing to check is if there

[2018-12-11 16:07] gpgabriel commented on #16
@geovie I don't have any experience with Objective-C, I tried to use `NSLog(@"%@", p.name);` but it throws an error. How can I log the `p.name` variable?

[2018-12-11 16:17] geovie commented on #16
@gpgabriel you can use `printf("AdvName: %s\n", p.name.c_str());` or you can also put a `NSLog(@"%@", [advertisementData objectForKey:CBAdvertisementDataLocalNameKey]);` before the if.

[2018-12-11 16:18] gpgabriel commented on #16
I found it 1 second before you posted `printf("ble_manager.mm: %s\n", p.name.c_str());`
Thanks! Testing now.

[2018-12-11 16:20] gpgabriel commented on #16
[code]

It looks like the name is not empty.

[2018-12-11 16:31] gpgabriel commented on #16
I know that Objective-C is not garbage collected but is there any way the `Peripheral p` variable is freed after it was emitted?

[2018-12-11 16:38] geovie commented on #16
🤔 Can you also log the name [here](https://github.com/Timeular/noble-mac/blob/master/src/callbacks.cc#L83) and [here](https://github.com/Timeular/noble-mac/blob/master/src/callbacks.cc#L90)?

[2018-12-11 16:47] gpgabriel commented on #16
Here is the result: https://gist.github.com/gpgabriel/9870d23ff5f411fbfa26740b4616e225

[code]

[2018-12-11 16:53] geovie commented on #16
Please also log the `uuid` in callbacks.cc to identify `MY_BLE_DEVICE`

[2018-12-11 17:02] gpgabriel commented on #16
New logs https://gist.github.com/gpgabriel/47e98dd15767ceb77dae118cd646d23a

[2018-12-11 17:19] geovie commented on #16
As you can see the uuid of your device appears two times: first with the correct name `MY_BLE_DEVICE` and then with an empty name (no log from blemanager.cc which means `[advertisementData objectForKey:CBAdvertisementDataLocalNameKey]` is `nil`)

A hacky solution would be to ignore empty local names when emitting a peripheral:
[code]
in this [line](https://github.com/Timeular/noble-mac/blob/master

[2018-12-11 17:30] gpgabriel commented on #16
Thanks for looking at this issue, I'll try to open a PR for this.

[2018-12-11 18:18] gpgabriel commented on #16
`std::optional` is only available in libc++ C++17 which is not complete yet. It sounds a bit risky to use it now?

[2018-12-11 19:08] geovie commented on #16
Yeah too bad... It mentions `std::pair<T,bool>` (so `std::pair<std::string,bool>`) as alternative. Or you could create a custom class:
[code]

[2018-12-12 11:25] gpgabriel commented on #16
I used a `std::pair`, please take a look at the PR https://github.com/Timeular/noble-mac/pull/17.

[2018-12-12 15:53] geovie commented on #9
@quinnabrvau I'll close this, please reopen it if this is a noble-mac issue, Thanks!

[2018-12-12 15:53] #9 closed, assigned to nobody

[2018-12-12 15:56] vikeri commented on #15
Interesting, I'm using 0.0.2

[2018-12-12 16:01] geovie commented on #15
And were you using noble before (when it worked) or was that another module?

[2018-12-12 16:03] quinnabrvau commented on #9
I don't think it is, it seems to be an issue with Mojave

[2018-12-12 16:08] geovie commented on #9
Okay, thank you!

[2018-12-12 16:39] #16 closed, assigned to nobody

[2018-12-12 16:39] gpgabriel commented on #16
Thanks @geovie! The PR was merged.

[2018-12-13 14:34] ReinierH commented on #7
@geovie
Sorry for not getting back to you earlier.
I tested it and It now can discover peripherals but the localName stays empty.
I'm running it on nodejs v8.11.3

[2018-12-13 14:46] geovie commented on #7
@ReinierH Have you tried the latest version (0.0.3)? It was released yesterday and had some changes regarding advertiment handling...

[2018-12-14 10:36] ReinierH commented on #7
@geovie
Just tried discovering devices with 0.0.3, it seems that some of the properties in "advertisement" are missing.

I've included the console.log of a peripheral below
`     _events:
      { warning: [Function: bound ],
        newListener: [Function: bound ],
        stateChange: [Function],
        discover: [AsyncFunction] },
     _eventsCount: 4,
     _allowDuplicates: undefined },
  id:

[2018-12-14 11:45] geovie commented on #7
@ReinierH Yes that's expected, apparently they are not delivered by the OS on every discover event. #17 changed the behavior so that we only update advertisement properties which have changed, as noble would override the previous property if we set the property to a default value (see also #16 ).
So the advertisement will be updated once we get the advertisement info from the OS.

Maybe wait a few

[2018-12-16 13:15] itome opened #18 "Error on Electron"
I'm using this library for electron app.
And I got
[code]
I thisnk this may be caused by native modules binding. Any idea about this error?

[2018-12-18 02:44] s524797336 commented on #7
@geovie  i tested new 0.0.3 and everything work perfect

[2018-12-18 03:34] s524797336 commented on #18
I'm using this too, no error found, what electron version are you using?
electron v3.0.12
node v10.10.0

[2018-12-18 08:42] geovie commented on #18
@itome I think the error means that you're trying to access a property of `undefined` inside a event handler. Could you post a snippet of your code?

[2018-12-18 08:45] geovie commented on #7
@s524797336 Great, thanks for testing!

Fixed in `0.0.3`

@jaret32 @ReinierH I'll close this issue, if you're still having problems please open a new one, thank you!

[2018-12-18 08:45] #7 closed, assigned to nobody

[2018-12-18 08:48] geovie commented on #15
@vikeri I'll close this, as it is most likely the problem of how noble handles the device address. If you feel this is still an issue with `noble-mac` please reopen this or create a new issue, thanks!

[2018-12-18 08:48] #15 closed, assigned to nobody

[2018-12-19 15:45] itome commented on #18
Installation succeeded by rebuilding project dependencies. But I don't know why the exception resolved.

Now I can discover devices. But error appears when connecting to devices.

Error Message:
[code]

[2018-12-19 16:29] geovie commented on #18
@itome You have to use `subscribe` to listen to notifications as it is written in the [Readme](https://github.com/Timeular/noble-mac#note)

[2018-12-19 18:46] ainthek opened #19 "installation question"
Please is this installable from npm somewhere ?
or just from git ?

Any chance this will be merged with noble project or is the noble completely abandoned ?

Thank you, I have just tested git install and it seems to work.

[2018-12-21 14:49] itome commented on #18
Sorry, I understand descriptor limitation and that error resolved.
But I met first error again.

[2018-12-21 14:57] geovie commented on #18
@itome My guess is that this is because something inside a callback is throwing e.g.:
[code]
So this is a problem with your code, if you can share it I can take a look (most likely you're try to access an array which is undefined)

[2018-12-21 16:43] itome commented on #18
Thank you. I try to access serviceData[0] when peripheral discovered, and it throw an error.
It's my mistake. Sorry. I close this issue.

[2018-12-21 16:43] #18 closed, assigned to nobody

[2018-12-26 10:45] bankyadam commented on #19
@geovie Did you forget to publish 0.0.3 to npm?

[2019-01-06 13:43] chrkhl commented on #19
Can someone please publish release 0.0.3 to npm? Thank you!

[2019-01-09 16:42] alexmerz opened #20 "this._bindings.write - There should be 5 arguments: (String, String, String, Buffer, Boolean)"
Hi,

i'm using the current github version of noble-mac on MacOS High Sierra with Node 8.9.4.

When I try to write to an characteristic, I get this error:
[code]

A look into the code of noble&noble-mac shows no difference in the number of function arguments. The noble-mac library/executable was installed by node-pre-gyp via download.

Any idea whats going wrong here?

[2019-01-09 17:18] geovie commented on #20
Ensure that the arguments are of correct type, I guess the data you're giving is maybe not a Buffer...
Can you post your code?

[2019-01-09 17:28] alexmerz commented on #20
The original app.js script can be found here:
[https://github.com/alexmerz/dab_ws1819/blob/master/blcentral/](https://github.com/alexmerz/dab_ws1819/blob/master/blcentral/)

A reduced version to reproduce the issue is test.js in that repository.

[2019-01-09 17:29] alexmerz commented on #20
Fixed URL for the relevant directory in the repository:
[https://github.com/alexmerz/dab_ws1819/tree/master/blcentral](https://github.com/alexmerz/dab_ws1819/tree/master/blcentral)

The relevant function is executeCommand().

[2019-01-09 17:40] geovie commented on #20
@alexmerz You're missing the `withoutResponse` (bool) argument (https://github.com/noble/noble#write)

[2019-01-09 17:46] alexmerz commented on #20
@geovie You are right. Sorry for that stupid mistake. Thank you!

[2019-01-09 17:46] #20 closed, assigned to nobody

[2019-01-17 15:30] jongear commented on #19
since the package isn't on npm I have been referencing it directly from git.

[code]

[2019-01-17 15:43] chrkhl commented on #19
Yes, I do the same, but I hope that there will be an npm package after all.

[2019-01-17 15:44] jongear opened #21 "Advertisement.ManufacturerData comes back as unreadable buffer"
OS: Mojave 10.14.2
Node: 10

When attempting to access the manufacturer data of the peripheral `noble-mac` exposes a buffer.

![image](https://user-images.githubusercontent.com/8430731/51329929-17226200-1a3c-11e9-9554-1551c19356b1.png)

stringify and utf-8 conversions return

[code]

[2019-01-18 11:40] geovie commented on #21
That's expected. The manufacturerData is a Buffer as defined in: https://github.com/noble/noble/blob/master/README.md#peripheral-discovered
Is the Data truncated?

[2019-01-18 15:48] jongear commented on #21
You're correct. The data is coming back as expected and is not truncated. I was not casting properly. To find my manufacturer. In my case I neeeded `.toString('hex')`

![image](https://user-images.githubusercontent.com/8430731/51397085-0f2ef480-1b06-11e9-9aaf-9bc3af73cb90.png)

[2019-01-18 15:48] #21 closed, assigned to nobody

[2019-01-18 22:55] keeslinp commented on #19
Are there any plans for fixing this? We're using this as a fix for a project using noble that needs to work on mojave, but part of our build process is unhappy with git dependencies. Changing this to npm would solve that problem.

[2019-01-23 03:42] tal opened #22 "Typeerror when using `Peripheral.readHandle`"
When I try and call `Peripheral.readHandle` I get the following error:

[code]

[2019-01-23 03:43] tal commented on #22
ah sorry, his is an issue with https://github.com/noble/noble

[2019-01-23 03:45] tal commented on #22
Actually I take it back. it appears as though it's an issue with the handle. Not sure if that's the mac or root noble. Any thoughts?

https://github.com/noble/noble/blob/master/lib/noble.js#L428-L430

[2019-01-23 19:45] geovie commented on #22
This is a bug in noble-mac, I will fix it soon.
Thanks for reporting!

[2019-01-26 19:49] hannseman opened #23 "Node 10 support on linux"
I understand that the main purpose of this package is to bring support for macOS Mojave but I would like to ask you if you could consider depending on https://github.com/abandonware/noble which fixes Node 10 support for linux. This is the root issue https://github.com/noble/node-bluetooth-hci-socket/issues/84.

This would enable people who have to support both macOS Mojave and Node >=10 on Linux t

[2019-02-01 17:45] keeslinp opened #24 "No data events after subscribing to a characteristic"
When I run `characteristic.subscribe` the callback is never called nor is the `characteristic.on('data')` fired. I am seeing a subscription event on the peripheral device so that part is working, but it does not ever call the callback or fire the event. I'm setting the data handler before calling subscribe.

I'll keep poking around and see what I can figure out.

[2019-02-04 14:29] geovie commented on #23
Hi, for now I won't change from `noble/noble` to `abandonware/noble` as it is already possible to use a custom noble (`abandonware/noble` or any other) by using `noble-mac` as binding only (take a look at [index.js](https://github.com/Timeular/noble-mac/blob/master/index.js)).
However, I'd like to integrate `noble-mac` directly in to noble, so if `abandonware/noble` is actively maintained and they

[2019-02-04 14:29] #23 closed, assigned to nobody

[2019-02-04 14:36] geovie commented on #24
Can you post a small sample of your code?
Does the 'notify' event is fired?

[2019-02-04 17:13] keeslinp commented on #24
Well... I have no idea why but everything just started working today. My computer's bluetooth stack was probably being finicky. Thanks anyways.

[2019-02-04 17:13] #24 closed, assigned to nobody

[2019-02-07 17:54] hannseman commented on #23
@geovie looks like `abandonware/noble` is interested in integrating. Please see https://github.com/abandonware/noble/issues/4.

That fork is pretty popular with 1600 weekly downloads.
https://www.npmjs.com/package/@abandonware/noble

Compare that to the original package with has 1800 weekly downloads.
https://www.npmjs.com/package/noble

[2019-02-11 07:42] s524797336 commented on #19
@keeslinp
why not fork this project and publish a private npm package instead.
You can use @s524797336/noble-mac via `npm install @s524797336/noble-mac`, this is my fork of this project.
**But i can't make sure my version of noble-mac work on your project.**

[2019-02-12 08:30] ghost opened #26 "Is the CleanUp method the same thing as you'd expect stop to be/do?"
I'm thinking about implementing a way to start and stop noble bindings, so I just wondered if you considered `CleanUp` to be equivalent to that.

`bluetooth-hci-socket` already has a `stop()` method.

[2019-02-12 08:42] geovie commented on #26
Yes, `cleanUp` should release any native resources that are held and allows the noble (binding) instance to be GC'ed.  I'm not sure if it's already well tested, I know it works for the simple case, but I'm not sure what happens if you cleanup a binding which has a device connected.

[2019-02-12 08:48] ghost commented on #26
So should it be renamed to `stop` to match bluetooth-hci-socket?

[2019-02-12 22:43] drewcovi opened #27 "Unable to Set ArrayBuffer Value for Descriptor"
Attempting to set the following descriptors fails on the second descriptor. This approach works flawlessly on Linux, assuming something is getting lost in translation for the second descriptors arraybuffer

[code]

[code]

[2019-02-13 10:47] geovie commented on #27
Could you provide a small code snippet which reproduces this?

[2019-02-13 10:50] geovie commented on #26
Sure I can rename it. Any other renames or additional function that would make sense? Which common interface do you have in mind?

[2019-02-13 13:41] drewcovi commented on #27
gah! i mixed up bleno and noble again :) sorry.

[2019-02-13 13:41] #27 closed, assigned to nobody

[2019-02-13 22:06] ghost commented on #26
Nothing  else ATM. I just saw an old noble bug re: missing stop method, and it mentioned that the bindings would need to have it first before it could be exposed at the noble level.

[2019-02-15 07:55] #22 closed, assigned to nobody

[2019-02-15 07:56] geovie commented on #22
Fixed, Thanks

[2019-02-15 07:57] geovie commented on #26
Renamed, I will create a new build soon.

[2019-02-15 07:57] #26 closed, assigned to nobody

[2019-03-04 20:21] allnash opened #30 "Fatal error on NodeV8 OSX"
Installed the latest version with Node V8. It blew up!

[code]

[2019-03-04 20:32] geovie commented on #30
Could you provide a code snippet which leads to the error, thanks!

[2019-03-12 20:57] geovie commented on #30
@allnash Were you able to find the cause of the crash?

[2019-03-13 01:17] allnash commented on #30
I think this maybe caused by bleno, I did not look further.

[2019-03-13 08:37] geovie commented on #30
@allnash Ok, then I'll close this, feel free to reopen

[2019-03-13 08:37] #30 closed, assigned to nobody

[2019-03-21 05:48] Narayan-Gopalappa opened #31 "npm install fails - Mojave"
I have XCode installed but node-gyp build fails.

xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance

xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance

Traceback (most recent call last):

[2019-03-21 08:54] geovie commented on #31
@Narayan-Gopalappa This is not a `noble-mac` issue. Take a look at https://github.com/nodejs/node-gyp/issues/569 , thanks!

[2019-03-21 08:54] #31 closed, assigned to nobody

[2019-04-07 16:48] elafargue opened #32 "Write to characteristic not working on Mac"
On Mojave, writing to characteristics doesn't seem to work at all - the same exact code on a Linux machine writes fine, but on the Mac it looks like event though there is no error, data doesn't make it out to the peripheral.

Has characteristic writing been tested on this new MacOS native implementation?

[2019-04-07 16:54] geovie commented on #32
@elafargue Worked so far for me. Can you post a snippet of your code? Are you sure that you call write with the correct arguments? Maybe have a look at https://github.com/Timeular/noble-mac/issues/20

[2019-04-07 17:05] elafargue commented on #32
This is the write method in my program - it has been working for ages (>1 year, used on a bunch of stations connected to BLE sensors out there), but stopped for the Mac when migrating to Mojave, which led me to try this fork. Can you see something that looks incorrect there?

[code]

[2019-04-09 15:09] buttjer commented on #32
Not sure if this helps but writeWithoutResponse is unused in noble-mac. You 'll get response bothway.

[2019-04-25 12:14] lilliesAndRoses opened #34 "Support for node version 10.15.3"
Is there any plan of adding support for node version 10.15.3?

[2019-04-25 15:55] geovie commented on #34
@lilliesAndRoses Is it not working for you with 10.15.3?

[2019-04-26 08:30] lilliesAndRoses commented on #34
I am getting following error while installing.

[code]

[2019-04-26 08:38] geovie commented on #34
@lilliesAndRoses I think you need to update your `npm` also be sure to add `noble-mac` as [git dependency](https://github.com/Timeular/noble-mac#installation) as it is not on npm.
You might want to try the [abandonware fork](https://github.com/abandonware/noble/) of noble, which contains `noble-mac`.

[2019-04-30 05:21] s524797336 commented on #34
@lilliesAndRoses
Your current npm not support current node version.
Use `npm i -g npm` to update npm, you may need `sudo` for that.

[2019-05-02 04:16] lilliesAndRoses commented on #34
Thanks. Adding a  'git dependency' worked.
Closing the issue.

[2019-05-02 04:16] #34 closed, assigned to nobody

[2019-05-18 16:41] floating opened #35 "Moving forward"
Hi all,

I want to start out by saying thanks for this project. I'm wondering what the plan is moving forward. Do you think this should be merged back into noble or do you think it should be standalone? If standalone do you think we can have an official release on npm? As someone who needs to support newer macOS platforms I now rely on this library now instead of noble.

Thanks again!
Jordan

[2019-05-20 03:39] s524797336 commented on #35
There are no one maintained noble now. so...

[2019-05-23 09:02] geovie commented on #35
@floating `noble-mac` is now included in [abandonware noble fork](https://github.com/abandonware/noble)
Checkout [@abandonware/noble](https://www.npmjs.com/package/@abandonware/noble)

[2019-07-12 20:05] LukasBombach opened #36 "Question: Documentation for adapters"
Hey,

I am trying to rewrite parts of Noble in TypeScript and I am looking for some documentation on adapters. Can you tell me how you figured out how to implement your adapter (interface)?

Cheers
Lukas

[2019-07-17 17:30] geovie commented on #36
@LukasBombach Hi, there is not much documentation except the code it self.
You could take a look at [noble](https://github.com/noble/noble/blob/master/lib/noble.js)(basically everything that uses `_bindings`) or [ble manager](https://github.com/Timeular/noble-mac/blob/master/src/ble_manager.h).
jrobeson's [typescript refactor](https://github.com/jrobeson/noble/tree/refactor) fork might also have s

[2019-07-17 17:30] #36 closed, assigned to nobody

[2019-07-17 17:46] LukasBombach commented on #36
Cool thanks; I ended up using https://github.com/noble/noble/blob/master/lib/websocket/bindings.js as a reference

[2019-08-06 14:59] rzr commented on #23
Are there any patches from this fork that are pending upstream ?

If yes they could be merged into @abandonware/noble

Again efforts to track changes are appreciated:
https://github.com/abandonware/noble/issues/2

[2019-08-06 15:14] geovie commented on #23
@rzr No @abandonware/noble already contains the latest changes https://github.com/abandonware/noble/pull/8

[2019-08-06 15:17] rzr commented on #23
Feel free to rebase on @abandonware/noble if you want, I plan to keep it based on upstream too

[2019-09-22 02:21] slayer1021 opened #37 "cannot find module '../native/noble_mac'"
Followed instructions for installation but keep getting the error   cannot find module '../native/noble_mac' , did check the location and no file exists in the location.

[2019-10-05 22:56] AlanDZhang commented on #9
Encountered same problem here with Mojave. Mojave only accepts data with 101 bytes while my Android phone can accept larger size.

[2019-10-08 18:24] quinnabrvau commented on #9
This appears to have been fixed in an update to Mojave, I am seeing notifications of up to 244 bytes which matches up with other OSs

[2019-11-07 13:36] shenzhef opened #39 "Convert data into Integer"
Hi, Im trying to convert the data that comes from the data event.
Im using a heart rate wristband and i need to get back the heart rate.
Im using the following code:
 peripheral.discoverSomeServicesAndCharacteristics(['180d'],['2a37'], function(error, services, characteristics){

      characteristics[0].subscribe(function(error){
        console.log('error subscribe '+error);
      });
      char

[2019-11-07 16:56] geovie commented on #39
@shenzhef It's a nodejs buffer, take a look at https://nodejs.org/api/buffer.html

[2019-11-07 16:56] #39 closed, assigned to nobody

[2019-11-07 17:07] #35 closed, assigned to nobody

[2019-11-07 17:08] geovie commented on #19
FYI: noble-mac is now included in https://github.com/abandonware/noble

[2019-11-07 17:08] #19 closed, assigned to nobody

[2019-12-05 10:46] satoshi999 opened #40 "Doesn't it work with Mac os mojave?"
Doesn't it work with Mac os mojave?

I tried to run in the following environment, but most of advertisement.localname becomes undefined and I can't find my device name that want to connect.
In Mac System Preferences and web bluetooth api, the name of the target I want to connect to is displayed.

The environment is as follows
OS: 10.14.6 mac os mojave
Node: I tried the following three
・ V11.8.0
・

[2019-12-20 06:21] kenken64 commented on #37
Error: Cannot find module '../native/noble_mac'

[2019-12-20 20:33] geovie commented on #40
@satoshi999 It should work with mac os mojave. As you can see [here](https://github.com/Timeular/noble-mac/blob/master/src/ble_manager.mm#L54-L61) `advertisement.localname` is set to either the local name provided by the advertisement or the peripheral name provided by the OS.

How are you using `noble-mac`? You might want to look at [abandonware/noble](https://github.com/abandonware/noble) which

[2019-12-20 20:34] geovie commented on #37
@slayer1021 @kenken64 Which node version are you using? How are you installing `noble-mac`?
You might want to take a look at [abandonware/noble](https://github.com/abandonware/noble) which has the bindings of this repo integrated.

[2019-12-26 13:41] LukasBombach opened #41 "Native Addon does not seem to terminate"
Hey there

if I load the compiled native node addon directly and run this little script:

[code]

The node process will never terminate. If you remove the line `nobleMac.init();` it will terminate right after logging `done`. For some reason the native process seems to keep running and I cannot find the reason nor how to terminate it.

Do you have an idea? <3

[2019-12-26 14:27] LukasBombach commented on #41
Ok it is this line

https://github.com/Timeular/noble-mac/blob/master/src/ble_manager.mm#L18

Maybe I can find a fix and open a PR

[2019-12-26 14:32] geovie commented on #41
@LukasBombach calling the stop method should work https://github.com/Timeular/noble-mac/blob/master/src/noble_mac.mm#L249

[2019-12-27 10:36] LukasBombach commented on #41
OH YES

Thank you soo much! 🎉

[2019-12-27 10:36] #41 closed, assigned to nobody

[2021-04-12 23:27] blamay commented on #37
I experienced this issue on both this repo & on abandonware/noble, and it was because I am using webpack which doesn't play nicely with the `binding.node` file, or in this repos case, the `noble_mac.node` file. I was able to fix it by forking the repo and using https://github.com/webpack-contrib/node-loader in `binding.js`

I think there could potentially be a change to allow you to use node-loade

[2021-04-13 07:26] geovie commented on #37
@blamay Could you specify `noble-mac` as [external](https://webpack.js.org/configuration/externals/) in webpack, then it should work...

[2021-05-04 22:39] blamay commented on #37
Specifying noble (or in my case, @abandonware/noble) as external does fix this problem for me.

[2022-11-23 11:57] ajjimsa commented on #37
@blamay Possibly you don't have  added in webpack file  to load the .node extensions.
...
 resolve: {
    extensions: [".js", ".css",".node","..."],
  },
...